<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FacileHack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1DBC31001BF7806700A0FDBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DBC31141BF7806800A0FDBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DBC311F1BF7806800A0FDBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
